In [1]:
import numpy as np

In [2]:
import pandas as pd

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [10]:
creditcard= pd.read_csv('/Users/ruppikha/Downloads/creditcard.csv')

In [11]:
creditcard.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [13]:
creditcard.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [15]:
# checking the number of missing values in each column
creditcard.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [17]:
creditcard['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [19]:
legit = creditcard[creditcard.Class == 0]
fraud = creditcard[creditcard.Class == 1]

In [20]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [21]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [22]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [23]:
creditcard.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [24]:
legit_sample = legit.sample(n=492)

In [25]:
dataset = pd.concat([legit_sample, fraud], axis=0)

In [26]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
231339,146720.0,-0.962427,1.147036,0.160344,-0.902423,1.225179,-0.337019,0.871281,0.211804,-0.852505,...,-0.116674,-0.442052,-0.484315,0.093011,0.943427,0.132755,-0.125319,-0.055138,0.00,0
39238,39756.0,1.414655,-1.235626,0.463856,-1.413847,-1.640605,-0.407983,-1.263916,0.172810,-1.722932,...,-0.151309,-0.176694,0.107904,0.141437,0.167596,-0.198424,0.025300,0.004120,15.00,0
3326,2870.0,-0.460602,0.399328,0.847091,0.580311,2.463368,4.232384,-0.569353,1.253443,-0.410850,...,-0.029332,-0.211862,-0.052580,0.974669,-0.158137,-0.230213,0.080538,0.066376,0.00,0
38039,39220.0,-1.309242,0.295762,2.040712,0.095285,1.160617,-1.099256,1.386591,-0.674395,-0.462466,...,-0.046669,0.375464,0.137613,0.407170,0.833833,-0.458841,-0.329516,-0.451522,10.94,0
1648,1271.0,1.354834,0.348300,-0.271459,0.360492,0.349700,-0.261401,0.086985,-0.139211,0.061793,...,-0.374479,-1.051813,-0.049168,-1.044951,0.417758,0.179739,-0.022068,0.017604,1.98,0

In [27]:
dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [28]:
dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96844.945122,0.140549,0.032706,0.004210,0.038744,0.030470,-0.043752,-0.045852,0.010580,-0.076248,...,-0.007958,0.011890,0.006853,-0.012844,-0.073095,-0.026740,-0.015905,0.002221,0.015654,80.084512
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [29]:
X = dataset.drop(columns='Class', axis=1)
Y = dataset['Class']

In [30]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
231339  146720.0 -0.962427  1.147036  0.160344 -0.902423  1.225179 -0.337019
39238    39756.0  1.414655 -1.235626  0.463856 -1.413847 -1.640605 -0.407983
3326      2870.0 -0.460602  0.399328  0.847091  0.580311  2.463368  4.232384
38039    39220.0 -1.309242  0.295762  2.040712  0.095285  1.160617 -1.099256
1648      1271.0  1.354834  0.348300 -0.271459  0.360492  0.349700 -0.261401
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
231339  0.871281  0.211804 -0.852505  ...  0.065194 -0.116674 -0.442052
39238  -1.263916  0.172810 -1.722932  ... -0.522219 -0.151309 -0.176694
3326   -0.569353  1.253443 -0.410850  ... -0.044893 -0.029332 -0.211862
38039   1.386591 -0.674395 -0.462466  ... -0.033868 -0.046669  0.375464
1648    0.086985 -0.139211  0.061793  ... -0.006799 -0.374479 -1.051813
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
231339 -0.484315  0.093011  0.943427  0.132755 -0.125319 -0.055138    0.00
39238   0.107904  0.141437  0.167596 -0.198424  0.025300  0.004120   15.00
3326   -0.052580  0.974669 -0.158137 -0.230213  0.080538  0.066376    0.00
38039   0.137613  0.407170  0.833833 -0.458841 -0.329516 -0.451522   10.94
1648   -0.049168 -1.044951  0.417758  0.179739 -0.022068  0.017604    1.98
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [31]:
print(Y)

231339    0
39238     0
3326      0
38039     0
1648      0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [32]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [34]:
print(X_train.shape, X_test.shape, X.shape)

(787, 30) (197, 30) (984, 30)

In [35]:
model = LogisticRegression()

In [36]:
model.fit(X_train, Y_train)

LogisticRegression()

In [37]:
X_trainprediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_trainprediction, Y_train)

In [38]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9263024142312579

In [42]:
# accuracy on test data
X_testprediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_testprediction, Y_test)

In [43]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.883248730964467